* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}

  .container {
    background-color: #D6D49A;
    width: 978px;
  }

  header {
    padding-left: 30px;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 20px;
  }

  img {
    background-color: white;
  }

  .main {
    margin-left: 10px;
  }

  #pic1 {
    padding: 10px;
  }

  #pic2 {
    padding: 10px;
  }

  #pic3 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }

  #pic4 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
    background-color: #E87495;
  }

  #pic5 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }

  #pic6 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
    background-color: #E87495;
  }

  #pic7 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }

  #pic8 {
    border-style: solid;
    border-color: black;
    border-width:3px;
    padding: 10px;
  }

  #pic9 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
    background-color: #E87495;
  }

  #pic10 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }

  #pic11 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
    background-color: #E87495;
  }

  #pic12 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }

  #pic13 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }

  #pic14 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
    background-color: #E87495;
  }

  #pic11 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }

  #pic15 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }

  #pic16 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
    background-color: #E87495;
  }

  #pic17 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }

  #pic18 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }

  #pic19 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
    background-color: #E87495;
  }

  #pic20 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }

  #pic21 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
    background-color: #E87495;
  }

  #pic22 {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 10px;
  }
